body{
    margin : 0px;
}


.header{
    position : fixed;
    width : 100%;
    top : 0px;
}

#index{
	display : block;
	padding: 10px;
	text-align: center;
	width : 300px;
	margin-left :auto;
	margin-right:auto;
}

.files{
    display : block;
    width : 70%;
    margin-left : auto;
    margin-right : auto;
}
